server:
  port: 4004
spring:
  cloud:
    gateway:
      routes:
        - id: patient-service-ruote
          uri: http://patient-service:4000
          predicates:
            - Path=/api/patients/**
          filters:
            - RewritePath=/api/patients,/api/v1/patients
        - id: api-docs-patient-route
          uri: http://patient-service:4000
          predicates:
            - Path=/api-docs/patients
          filters:
            - RewritePath=/api-docs/patients,/v3/api-docs
